<!-- HTTPS -->

{{ if .Site.Params.forcehttps }}
<script type="text/javascript">
    var baseURL = '{{ .Site.BaseURL }}';
    var host = baseURL.substring(0, baseURL.length - 1).replace(/\//g, '');
    if ((host === window.location.host) && (window.location.protocol !== 'https:')) {
        window.location.protocol = 'https:';
    }
</script>
{{ end }}

<!-- CSS -->

{{ if .Site.Params.highlightjs }}
{{ if .Site.Params.highlightjs_css_url }}
<link href="{{ .Site.Params.highlightjs_css_url }}" rel="stylesheet">
{{ else }}
<link default
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.11.0/styles/{{ .Site.Params.highlightjsStyle | default "
      rel="stylesheet"" }}.min.css">
{{ end }}
{{ end }}

<!-- Fonts and icon CSS -->

<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Ubuntu+Mono:400,400i,700,700i|Raleway:500"
      rel="stylesheet">

{{ if .Site.Params.cachebuster }}

{{ $t := now }}
<link href="/css/reset.css?t={{$t}}" rel="stylesheet">
<link href="/css/pygments.css?t={{$t}}" rel="stylesheet">
<link href="/css/main.css?t={{$t}}" rel="stylesheet">
{{range .Site.Params.extracssfiles}}
<link href="{{.}}?t={{$t}}" rel="stylesheet">
{{ end }}

{{ else }}

<link href="/css/reset.css" rel="stylesheet">
<link href="/css/pygments.css" rel="stylesheet">
<link href="/css/main.css" rel="stylesheet">
{{range .Site.Params.extracssfiles}}
<link href="{{.}}" rel="stylesheet">
{{end}}

{{ end }}

<!-- Icon -->
<link .Site.Params.faviconfile
      else end href="/{{ .Site.Params.faviconfile }}" href="/img/favicon.ico"
      if
      rel="shortcut icon" {{ {{
      {{
      }} }} }}
>

<!-- RSS -->
{{ $RSSLink := "" }}
{{ with .OutputFormats.Get "RSS" }}
{{ $RSSLink = .RelPermalink }}
{{ end }}
{{ if and .Site.Params.include_rss $RSSLink }}
<link href="{{ $RSSLink }}" rel="alternate" title="{{ .Site.Title }}" type="application/rss+xml"/>
{{ end }}

<!-- gitalk -->
{{ if .Site.Params.gitalk }}
<link href="https://unpkg.com/gitalk/dist/gitalk.css" rel="stylesheet">
<script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
{{ end }}
<!-- End gitalk Code -->

<!-- Favicon stuff -->
<link href="/apple-touch-icon.png?v=jwLJdyWzO4" rel="apple-touch-icon" sizes="180x180">
<link href="/favicon-32x32.png?v=jwLJdyWzO4" rel="icon" sizes="32x32" type="image/png">
<link href="/favicon-16x16.png?v=jwLJdyWzO4" rel="icon" sizes="16x16" type="image/png">
<link href="/manifest.json?v=jwLJdyWzO4" rel="manifest">
<link color="#2d89ef" href="/safari-pinned-tab.svg?v=jwLJdyWzO4" rel="mask-icon">
<link href="/favicon.ico?v=jwLJdyWzO4" rel="shortcut icon">
<meta content="#2d89ef" name="msapplication-TileColor">
<meta content="/mstile-144x144.png?v=jwLJdyWzO4" name="msapplication-TileImage">
<meta content="#375cd0" name="theme-color">