<meta charset="utf-8">
<meta content="chrome=1" http-equiv="X-UA-Compatible">
<meta content="True" name="HandheldFriendly">
<meta content="320" name="MobileOptimized">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta content="no-referrer" name="referrer">
{{ with .Site.Params.author }}
<meta content="{{ . }}" name="author">{{ end }}
<meta content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}"
      name="description">

{{ template "_internal/opengraph.html" . }}
